<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/photogallery">Photogallery</a></li> 
        </ul>
    </nav>
    <h1> About Ragnar </h1>
    <div>
        <section id="bio"><span>
            <h2>Primeros años</h2>
                Según el Vidente, Ragnar nació y se crió en las tierras cerca de Kattegat, en el sur de Noruega, y se ganó una reputación de un niño inteligente. Cuando Ragnar tenía 15 años, el rey Froh de Svealand invadió Noruega y mató al rey noruego Siward. Ragnar se unió con los leales de Siward para expulsar a Froh. El rey Froh era famoso por llevar serpientes domesticadas alrededor de su cuello en la batalla que morderían a sus enemigos mientras él luchaba contra ellos. Con el fin de luchar contra Froh, Ragnar formó un abrigo y pantalones de una piel de animal peluda. En la batalla que siguió, Ragnar se enfrentó con Froh y las serpientes no pudieron morder a través de la piel de su abrigo. Debido a su manera inusual de derrotar al rey a una edad tan temprana, Ragnar ganó su nombre "Lothbrok", el de los "pantalones peludos".

                En un momento indeterminado, Ragnar fue a casa de Lagertha a confesar su amor por ella, pero fue atacado por un oso y un enorme perro que vigilaban su casa. Ragnar mató al oso con su lanza y estranguló al perro con sus propias manos, ganando así la mano de Lagertha en matrimonio.

                El vidente le había dicho a Ragnar que tendrá muchos hijos. Bjorn fue el primero de ellos, y unos años después nació su hija Gyda.
        </span></section>
    </div>
</body>
</html>