<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photogallery</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/photogallery">Photogallery</a></li> 
        </ul>
    </nav>
    <img src="/ragnar.jpg" alt="ragnar" width="300">
    <img src="/ragnar1.jpg" alt="ragnar" width="300">
    <img src="/ragnar5.jpg" alt="ragnar" width="300">
    <img src="/ragnar2.jpg" alt="ragnar" width="500">
    <img src="/ragnar3.jpg" alt="ragnar" width="500">
    <img src="/ragnar4.jpg" alt="ragnar" width="300">
</body>
</html>